#home-page {
    /* Altura e largura completando a tela inteira */
    /* width: 100vw; */
    height: 100vh;

    /* Alinhando o conteúdo ao centro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#home-page .mini-header {
    height: 10rem;
    width: 100%;

    padding: 0 3.2rem;

    /* Jogando um item para cada lado */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Título Navers */
#home-page .mini-header p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    color: var(--color-main-text);

}

#home-page .mini-header button {
    font: Montserrat;
    font-weight: 600;
    color: var(--color-background);

    width: 17.6rem;
    height: 4rem;

    padding: 0.8rem;

    border: 0;

    cursor: pointer;

    background: var(--color-main-text);

    transition: 0.2s;
}

#home-page .mini-header button:hover {
    opacity: 70%;
}

/* Lista de navers */
#home-page .navers-list {
    height: 37.5rem;

    max-width: 140rem;

    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    flex-flow: row wrap;
}

/* Box de um naver */
#home-page .naver {
    height: 100%;
    width: 28rem;
    
    margin: 3rem 2.4rem;
}

#home-page .naver > img {
    width: 28rem;
    height: 28rem;
    cursor: pointer;
    object-fit: cover;

    transition: 0.2s;
}

#home-page .naver > img:hover {
    opacity: 70%;
}

#home-page .naver p.naver-name {
    font-family: Montserrat;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.8rem;

    color: var(--color-main-text);

    margin-top: 1.6rem;
}

#home-page .naver p.naver-description {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.4rem;
    color: var(--color-main-text);

    margin-top: 0.4rem;

}

#home-page .naver .naver-options {
    width: 5.4rem;

    margin-top: 0.7rem;

    filter: brightness(var(--filter-option));

    /* Jogando um item para cada lado */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-page .naver .naver-options img {
    cursor: pointer;

    transition: 0.3s;
}

#home-page .naver .naver-options img:hover {
    opacity: 70%;
}

#home-page .naver .naver-options a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: none;
}

#home-page .confirm-exclusion-buttons {
    width: 70%;
    
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5rem;
}

#home-page .confirm-exclusion-buttons button {
    width: 17.5rem;
    height: 4rem;

    border: 0;

    font: 600 Montserrat;
    color: #FFFFFF;

    cursor: pointer;
    transition: 0.3s;
}

#home-page .confirm-exclusion-buttons button.button-cancel {
    background: #FFFFFF;

    font: 600 Montserrat;
    color: #212121;

    border: 1px solid #212121;
}

#home-page .confirm-exclusion-buttons button.button-confirm {

    background: #212121;

    font: 600 Montserrat;
    color: #FFFFFF;

    margin-left: 2.4rem;
}

#home-page .confirm-exclusion-buttons button:hover {
    opacity: 70%;
}

#modal-show-naver div.modal-show-naver-options img {
    cursor: pointer;
}

#modal-show-naver div.modal-show-naver-options a {
    margin-left: 1.6rem;
}

@media(max-width: 1045px) {

    #home-page .confirm-exclusion-buttons {
        width: 100%;
        height: auto;        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home-page .confirm-exclusion-buttons button {
        width: 70%;
    }

    #home-page .confirm-exclusion-buttons button.button-confirm {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media(max-width: 450px) {
    #home-page .mini-header p {
        font-size: 2rem;    
    }
    
    #home-page .mini-header button {
        
        width: 40%;
        height: 4rem;

        font-size: 70%;
    }
}