#home-page {
    /* Altura e largura completando a tela inteira */
    width: 100vw;
    height: 100vh;

    /* Alinhando o conteúdo ao centro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#home-page .mini-header {
    height: 10rem;
    width: 100%;

    padding: 0 3.2rem;

    /* Jogando um item para cada lado */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Título Navers */
#home-page .mini-header p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    color: #212121;

}

#home-page .mini-header button {
    width: 17.6rem;
    height: 4rem;

    padding: 0.8rem;

    border: 0;

    background: #212121;
}

#home-page .mini-header button a {
    font: 600 Montserrat;
    color: #FFFFFF;

    text-decoration: none; /* Removendo o sublinhado */
}

/* Lista de navers */
#home-page .navers-list {
    height: 37.5rem;
    width: 100%;

    padding: 0 3.2rem;

    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

/* Box de um naver */
#home-page .naver {
    /* height: 42rem; */
    /* width: 28rem; */

    height: 100%;
    width: 28rem;
}

#home-page .naver > img {
    width: 28rem;
    height: 28rem;
}

#home-page .naver p.naver-name {
    font-family: Montserrat;

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.8rem;

    color: #212121;

    margin-top: 1.6rem;
}

#home-page .naver p.naver-description {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.4rem;
    color: #212121;

    margin-top: 0.4rem;

}

#home-page .naver .naver-options {
    width: 5.4rem;

    margin-top: 0.7rem;

    /* Jogando um item para cada lado */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-page .naver .naver-options a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: none;
}