.option-naver-container {
    width: 50vw;
    height: 70vh;

    max-height: 40rem;
    max-width: 60rem;
}

.option-naver-container div.option-header a {
    width: 34rem;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.option-naver-container div.option-header img {
    height: 2rem;
    width: 1.2rem;
}

.option-naver-container div.option-header p {
    font: 600 Montserrat;
    font-size: 3.6rem;
    color: #212121;

    margin-left: 2rem;
}

.option-naver-container div.form {
    height: auto;
    width: 100%;

    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.option-naver-container div.form .option-line {
    height: 8rem;
    width: 100%;

    height: auto;

    margin: 1.5rem 0;

    flex-flow: row wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.option-naver-container div.form .option-line .input-block {
    position: relative;
}

.option-naver-container div.form .option-line .input-block label {
    display: block;
}


.option-naver-container div.form .option-line .input-block input {
    height: 4rem;
    width: 28rem;
    margin-top: 0.8rem;
    border: 1px solid #424242; /* Borda */
    outline: 0; /* Em volta do item */
    padding: 0 1.6rem;
    font: Montserrat;
    font-weight: 500;
}

.option-naver-container div.form .option-line .input-block input::placeholder {
    font-family: Montserrat;
    color: #9E9E9E;
}

.option-naver-container div.form button {
    width: 17rem;
    height: 4rem;
    
    margin-left: auto;

    margin-top: 3.5rem;
    border: 0;
    background: #212121;
}

.option-naver-container div.form button a {
    font: 600 Montserrat;
    color: #FFFFFF;

    text-decoration: none; /* Removendo o sublinhado */
}