:root {
    font-size: 60%;

    --color-background: #F0F0F7;
    --color-main-text: #212121;
    --filter-option: 0;
}

/* para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    /* height: 100vh; faz com que ocupe 100% da tela */
    height: 100%;
    margin: 0;
}

body {
    background: var(--color-background);
    overflow-X: hidden;
}

/* alinhando todo o conteúdo ao centro */
#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, select, textarea {
    font: 600 1.6rem Montserrat;
}

/* .container {
    width: 90vw; 
    max-width: 700px; 
} */

@media(min-width: 700px) {
    :root {
        font-size: 62.5% /* aumentando um pouco a letra para telas grandes */;
    }
}

@media(max-width: 500px) {
    :root {
        margin-top: 2rem;
    }
}